{% extends 'base.html.twig' %}

{% block title %}MedievalFamily index{% endblock %}

{% block body %}
    <h1>MedievalFamily index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleMedievalFamily</th>
                <th>DescriptionMedievalFamily</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medieval_family in medieval_families %}
            <tr>
                <td>{{ medieval_family.id }}</td>
                <td>{{ medieval_family.titleMedievalFamily }}</td>
                <td>{{ medieval_family.descriptionMedievalFamily }}</td>
                <td>
                    <a href="{{ path('medieval_family_show', {'id': medieval_family.id}) }}">show</a>
                    <a href="{{ path('medieval_family_edit', {'id': medieval_family.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medieval_family_new') }}">Create new</a>
{% endblock %}
