{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	{{ form_start(registrationForm) }}
	<div class="container">
		<div class="row formRegister">
			<div class="input-field col s6">
				{{ form_row(registrationForm.email) }}
			</div>
            <div class="input-field col s6">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        </div>
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn">vous enregistrer</button>
		</div>
	</div>
	{{ form_end(registrationForm) }}

{% endblock %}
