{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <h1>Discipline index</h1>
<div class="container">
    <a href="{{ path('how_we_are_new') }}" class="btn-floating btn-large waves-effect waves-light blue"><i
            class="material-icons">add</i></a>
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageOneDiscipline</th>
                <th>ImageTwoDiscipline</th>
                <th>ImageThreeDiscipline</th>
                <th>Disciplinetitle</th>
                <th>DisciplineDescription</th>
                <th>NameInstructor</th>
                <th>PhotoInstructor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.id }}</td>
                <td>{{ discipline.imageOneDiscipline }}</td>
                <td>{{ discipline.imageTwoDiscipline }}</td>
                <td>{{ discipline.imageThreeDiscipline }}</td>
                <td>{{ discipline.disciplinetitle }}</td>
                <td>{{ discipline.disciplineDescription }}</td>
                <td>{{ discipline.nameInstructor }}</td>
                <td>{{ discipline.photoInstructor }}</td>
                <td>
                    <a href="{{ path('discipline_show', {'id': discipline.id}) }}">show</a>
                    <a href="{{ path('discipline_edit', {'id': discipline.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discipline_new') }}">Create new</a>
{% endblock %}
