{% extends 'base.html.twig' %}

{% block title %}CategoryForum index
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col xl4 categoryIndexForum">

			<h3>Catégotries</h3>
			<div class="row">
				<div class="col xl 12 ">
					{% for category_forum in category_forums %}
						<a href="">{{ category_forum.titleCategory }}</a>
					{% endfor %}
				</div>

			</div>
		</div>
		<div class="col xl8 subjecyIndexForum">
			<h3>Sujets</h3>


            
<div class="row">



</div>
		</div>

	</div>


	<h4 class="center-align">CategoryForum index</h4>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>TitleCategory</th>
				<th>DateCategoryForum</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			{% for category_forum in category_forums %}
				<tr>
					<td>{{ category_forum.id }}</td>
					<td>{{ category_forum.titleCategory }}</td>
					<td>{{ category_forum.dateCategoryForum ? category_forum.dateCategoryForum|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('category_forum_show', {'id': category_forum.id}) }}">voir</a>
						<a href="{{ path('category_forum_edit', {'id': category_forum.id}) }}">éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun enregistrement trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('category_forum_new') }}">Créer un nouveau</a>
{% endblock %}
