{% extends 'base.html.twig' %}

{% block title %}CategoryForum index{% endblock %}

{% block body %}
    <h1>CategoryForum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleCategory</th>
                <th>DateCategoryForum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_forum in category_forums %}
            <tr>
                <td>{{ category_forum.id }}</td>
                <td>{{ category_forum.titleCategory }}</td>
                <td>{{ category_forum.dateCategoryForum ? category_forum.dateCategoryForum|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('category_forum_show', {'id': category_forum.id}) }}">show</a>
                    <a href="{{ path('category_forum_edit', {'id': category_forum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_forum_new') }}">Create new</a>
{% endblock %}
