{% extends 'base.html.twig' %}

{% block title 'Infos Les lames Du Ponant'%}

{% block body %}


<main >
        {% for home_info in home_infos %}
        {% if home_info.active == 1  %}

        <h4 class="center-align titleInfo">Information Les Lames du Ponant</h4>

        <div class="container">
                <div class="row  ">
               
                
                        <img class="responsive-img"src="{{ asset('uploads/info/' ~ home_info.imageOneInfo)}}">
                </div>
                </div>
        </div>

        {# Information Horaire + Maps #}
        <div class="container">
                <div class="row">
               
                        <div class="col xl3 l3 m12 s12 ">
                                 <h4 class="center-align">{{ home_info.titleInfo}}</h4>
                                <div class="row z-depth-2 ">
                                        <p class="center-align">{{ home_info.descriptionInfo|raw}}</p>
                                </div>

                        </div>
                        <div class="col xl7 l7 m12 s12 offset-xl2 offset-l2  ">
                                <h4 class="center-align">Pour nous situer </h4>
                                <div id="mapid"></div>
                                <div class="row z-depth-2 ">
                                        <p>
                                                Adresse:
                                                Rue des Droits de l'Homme

                                                44550 Saint-Malo-de-Guersac
                                        </p>
 <a href="https://goo.gl/maps/7Fmo8wdAKEHxRXUF9"> Ouvrir Map</a>
                                </div>
                               
                             

                        </div>
                </div>
        </div>
        <div class="container">
                <div class="row z-depth-2 ">
                        <div class="parallax-container">
                                <div class="parallax"><img src="{{ asset('uploads/info/' ~ home_info.imageOneInfo)}}">
                                </div>
                        </div>
                </div>
        </div>

        <h4 class="center-align titleInfo">{{ home_info.titleCost}}</h4>
        <div class="container">
                <div class="row z-depth-2 CostDescription ">
                        <p>{{ home_info.descriptionCost|raw }}</p>
                </div>
        </div>
        <h4 id="faq"class="center-align titleInfo">{{ home_info.titleFaqInfo}}</h4>
        <div class="container">
                <div class="row z-depth-2 CostDescription ">
                        <p>{{ home_info.descriptionFaqInfo|raw }}</p>
                </div>
        </div>
 <div class="container">
                <div class="row  ">
                     
                           <img class="responsive-img z-depth-2" src="{{ asset('uploads/info/' ~ home_info.imageTwoInfo)}}">
                                </div>
                    
                </div>
        </div>
       

        {% endif %}
        {% endfor %}
</main>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script type="text/javascript" src="{{ asset('js/bin/map.js') }}"></script>
{% endblock %}