{% extends 'base.html.twig' %}

{% block title %}info Les lames Du Ponant{% endblock %}

{% block body %}

{% for home_info in home_infos %}
{% if home_info.active == 1  %}
    

<div class="container">
<h4 class="center-align">Information Les Lames du Ponant</h4>

<div class="row">
<div class="col xl3 l3 m12 s12 ">
<h5 class="center-align">{{ home_info.titleInfo}}</h5>
<div class="row">
<p class="center-align">{{ home_info.descriptionInfo|raw}}</p>
</div>
<a href="https://goo.gl/maps/7Fmo8wdAKEHxRXUF9"> y aller</a>
</div>
<div class="col xl9 l9 m112 s12">
<h5 class="center-align">Ou nous trouver</h5>
   <div id="mapid"></div>
</div>
</div>



</div>
        <td>{{ home_info.id }}</td>
                <td>{{ home_info.titleInfo|striptags|u.truncate(20)|raw }}</td>
                <td></td>
                <td>{{ home_info.titleCost|striptags|u.truncate(20)|raw }}</td>
                <td>{{ home_info.descriptionCost|striptags|u.truncate(20)|raw }}</td>
                <td>{{ home_info.titleFaqInfo|striptags|u.truncate(20)|raw }}</td>
                <td>{{ home_info.descriptionFaqInfo|striptags|u.truncate(20)|raw }}</td>
                {% endif %}

{% endfor %}

{% endblock %}
            
              
