{% extends 'base.html.twig' %}

{% block title %}SubjectForum index
{% endblock %}

{% block body %}
	<h4 class="center-align">SubjectForum index</h4>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>TitleSubjectForum</th>
				<th>ContentSubjectForum</th>
				<th>DateSubjectForum</th>
				<th>CategorySubjectForum</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			{% for subject_forum in subject_forums %}
				<tr>
					<td>{{ subject_forum.id }}</td>
					<td>{{ subject_forum.titleSubjectForum }}</td>
					<td>{{ subject_forum.contentSubjectForum }}</td>
					<td>{{ subject_forum.CategorySubjectForum }}</td>
					<td>{{ subject_forum.dateSubjectForum ? subject_forum.dateSubjectForum|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('subject_forum_show', {'id': subject_forum.id}) }}">voir</a>
						<a href="{{ path('subject_forum_edit', {'id': subject_forum.id}) }}">éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun enregistrement trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('subject_forum_new') }}">Créer un nouveau</a>
{% endblock %}
