{% extends 'default.html.twig' %}

{% block title %}TimeStamp index{% endblock %}

{% block body %}
    <h4 class="center-align">TimeStamp index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleTimeStamp</th>
                <th>DescriptionTimeStamp</th>
                <th>DateTimeStamp</th>
                <th>HourTimeStamp</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for time_stamp in time_stamps %}
            <tr>
                <td>{{ time_stamp.id }}</td>
                <td>{{ time_stamp.titleTimeStamp }}</td>
                <td>{{ time_stamp.descriptionTimeStamp }}</td>
                <td>{{ time_stamp.dateTimeStamp ? time_stamp.dateTimeStamp|date('Y-m-d') : '' }}</td>
                <td>{{ time_stamp.hourTimeStamp ? time_stamp.hourTimeStamp|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('time_stamp_show', {'id': time_stamp.id}) }}">voir</a>
                    <a href="{{ path('time_stamp_edit', {'id': time_stamp.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('time_stamp_new') }}">Créer un nouveau</a>
{% endblock %}
