{% extends 'base.html.twig' %}

{% block title %}Faq{% endblock %}

{% block body %}
    <h1>Faq</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faq.id }}</td>
            </tr>
            <tr>
                <th>TitleFaq</th>
                <td>{{ faq.titleFaq }}</td>
            </tr>
            <tr>
                <th>FaqDescription</th>
                <td>{{ faq.faqDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('faq_index') }}">back to list</a>

    <a href="{{ path('faq_edit', {'id': faq.id}) }}">edit</a>

    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
