{% extends 'base.html.twig' %}

{% block title 'catégories'%}

{% block body %}
<div class="container">
<div class="col xl12">
  {# PAGINATION #}
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active blue"><a href="{{path('le_forum')}}">Page d'accueil</a></li>
                <li class="active blue"><a href="{{path('le_forum_category', {'slug': category_forum.slug})}}">{{category_forum.titlecategory}}</a></li>
                
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
    <div class="row">
        <div class="col xl8"> 
            <div class="row">
                <table>
                    <thead>

                    <h5 class="center-align">{{category_forum.titlecategory}}</h5>
                     {# <a class=" btn-floating modal-trigger red" href="#modal-create" data-id="{{message_forum.id}}"
                            data-titre ="{{message_forum.id }}" data-target="modal-create"><i
                                class="material-icons">delete</i></a>
                         <tr> #}
                            <th>    
                              Sujets 
                            </th>
                            <th>
                           nombre messages
                            </th>
                            <th>
                         dernier message
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for subject_category  in category_forum.subjectCategory %}
                        
                   
                            <td>  
                           <a href=" ">{{subject_category.titleSubjectForum}}</a>  
                            </td>

                            <td>     
                            {{subject_category.id|length}}       
                            </td>
                             <td>     
                      
                                   
                            </td>
                        </tr>
                         {% endfor %}
                    </tbody>                 
                </table>

            </div>
        </div>
        {{ form_start(form) }}
        {{form(form)}}
        
        {{ form_end(form) }}
        <div class="col xl4">
        <h5 class="center-align">Liste</h5> 
   
{% endblock %}