{% extends 'base.html.twig' %}

{% block title 'Forum index'%}

{% block body %}
<div class="container">
    <div class="col xl12">
{# PAGINATION  de la page index#}
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class=" blue active"><a href="#!">Accueil forum</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
{# affichage des catégories dans la section du forum#}
        <div class="row">
            <div class="col xl8">
                <div class="row">
                    <table>
                        {% for home_section_forum in home_section_forums%}
                        <thead>
                            <tr>
                                <th>

                                    {% if home_section_forum.active == 1 %}
                                    <h5>{{home_section_forum.SectionTitleForum}}</h5>
                                    {% endif %}
                                </th>
                                <th>
                                    nombre de sujet
                                </th>
                                <th>
                                    dernier sujet
                                </th>
                            </tr>
                        </thead>
                        {% for category_section_forum in home_section_forum.categoryHomeSectionforum %}
                        <tbody>
                            <tr>
                                {% if category_section_forum.active == 1 %}
                                <td>
                                    <a href="{{path('le_forum_category', {'slug': category_section_forum.slug })}}">
                                        {{category_section_forum.titlecategory}}</a>
                                </td>
                                <td>{{category_section_forum.subjectCategory|length}}</td>
                            </tr>
                               {{dump(subject_forum)}}
                            {% endif %}
                        </tbody>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
{# affichage des catégories et sujets du forum du forum#} 

            {# <div class="col xl4">
                <h5 class="center-align">Liste</h5>
                {% for home_section_forum in home_section_forums%}
                {% if home_section_forum.active == 1 %}
                <h5>{{home_section_forum.SectionTitleForum}}</h5>
                {% endif %}
                <ul>
                    {% for category_section_forum in home_section_forum.categoryHomeSectionforum %}
                    {% if category_section_forum.active == 1 %}
                    <li><a href="{{path('le_forum_category', {'slug': category_section_forum.slug })}}">
                            {{category_section_forum.titlecategory}}</a></li>
                    <li></li>
                    {% endif %}
                </ul>
                {% endfor %}
                {% endfor %} #}
        </div>
    </div>
</div>

{% endblock %}