{% extends 'base.html.twig' %}

{% block title 'message'%}

{% block body %}
<div class="container">
    <div class="col xl12">
        {# PAGINATION #}
        <ul class="pagination">
            <li class="active blue"><a href="{{path('le_forum')}}">Page d'accueil</a></li>

            <li class="active blue"><a
                    href="{{path('le_forum_category' ,{'slug': subject_forum.categorySubjectForum.slug })}}">{{subject_forum.categorySubjectForum.titleCategory}}</a>
            </li>
            <li class="active blue"><a
                    href="{{path('le_forum_subject' ,{'slug': subject_forum.slug })}}">{{subject_forum.titleSubjectForum}}</a>
        </ul>
        <div class="row">
            <div class="col xl8">
                <div class="row">
                    <table>
                        <h5 class="center-align">{{subject_forum.titleSubjectForum}}</h5>
                        <thead>
                            <tr>
                                <th>
                                    <div class="chip">
                                        {% if  subject_forum.user.photoAvatarUser  != NULL %}
                                        <img class="circle"
                                            src="{{ asset('uploads/avatar/' ~ app.user.photoAvatarUser )}}">
                                        {% else %}
                                        <img class="circle" src="{{asset('uploads/avatar.jpg')}}">
                                        {% endif %}
                                        {% if  subject_forum.user.pseudoUser != NULL %}
                                        <span class="name">
                                            {{subject_forum.user.pseudoUser}}</span>
                                        {% else %}
                                        <span class=" name"> "Illustre inconnu n°{{subject_forum.user.id}}"
                                        </span>
                                        {% endif %}
                                        </div>
                                     </th>
                
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{subject_forum.contentSubjectForum|raw}}</td>
                        {% for message_subject_forum  in subject_forum.messageSubjectForum %}
                        <td>
                            {{message_subject_forum.contentMessageForum}}
                        </td>

                        <td>

                        </td>
                    </tr>
                </tbody>
                {% endfor %}

                <a class=" btn-floating modal-trigger blue" href="#modal-forum" data-id="{{subject_forum.id}}"
                    data-titre="{{subject_forum.titleSubjectForum}}" data-target="modal-create"><i
                        class="material-icons">add</i></a>
                </table>

            </div>
        </div>


        <!-- Modal Structure -->
        <div id="modal-forum" class="modal bottom-sheet">
            <div class="modal-content">

            </div>
        </div>

        <div class="col xl4">
            <h5 class="center-align">Liste</h5>
        </div>
    </div>
</div>
</div>
{% endblock %}