{% extends 'base.html.twig' %}
{% block title 'message'%}


{% block body %}
<div class="container">
    <div class="col xl12 l12 m12 s12">
{# PAGINATION du forum#}
        <ul class="pagination">
            <li class="active blue"><a href="{{path('le_forum')}}">Page d'accueil</a></li>

            <li class="active blue"><a
                    href="{{path('le_forum_category' ,{'slug': subject_forum.categorySubjectForum.slug })}}">{{subject_forum.categorySubjectForum.titleCategory}}</a>
            </li>
            <li class="active blue"><a
                    href="{{path('le_forum_subject' ,{'slug': subject_forum.slug })}}">{{subject_forum.titleSubjectForum}}</a>
        </ul>
        {# affichage des sujets dans les catégories du forum#}
        <div class="row">
        <div class="col xl12 l12 m12 s12">
         <h1 class="center-align">{{subject_forum.titleSubjectForum}}</h1>
        </div>
            <div class="col xl8 l8 m12 s12">
             
                <table class="highlight  z-depth-2">
                    <thead>
                        <tr>
                            <th>
                                <div class="chip">
                                    {% if  subject_forum.user.photoAvatarUser  != NULL %}
                                    <img class="circle" src="{{ asset('uploads/avatar/' ~ app.user.photoAvatarUser )}}">
                                    {% else %}
                                    <img class="circle" src="{{asset('uploads/avatar.jpg')}}">
                                    {% endif %}
                                    {% if  subject_forum.user.pseudoUser != NULL %}
                                    <span class="name">
                                        {{subject_forum.user.pseudoUser}}</span>
                                    {% else %}
                                    <span class=" name"> "Illustre inconnu n°{{subject_forum.user.id}}"
                                    </span>
                                    {% endif %}
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>{{subject_forum.contentSubjectForum|raw}}</td>
                        </tr>
                        
                    </thead>
                        </table>
                        <div class="divider"></div>
                         {% for message  in subject_forum.messageSubjectForum %}
                        <table class="highlight  z-depth-2">

 {# affichage des messages#}                   
                   
                    <thead>
                        <tr>
                            <th>
                                <div class="chip">
                                    {% if  message.user.photoAvatarUser  != NULL %}
                                    <img class="circle" src="{{ asset('uploads/avatar/' ~ message.user.photoAvatarUser )}}">
                                    {% else %}
                                    <img class="circle" src="{{asset('uploads/avatar.jpg')}}">
                                    {% endif %}
                                    {% if  message.user.pseudoUser != NULL %}
                                    <span class="name">
                                        {{message.user.pseudoUser}}</span>
                                    {% else %}
                                    <span class=" name"> "Illustre inconnu n°{{subject_forum.user.id}}"
                                    </span>
                                </div>
                            </th>
                        </tr>
                        {% endif %}
                    </thead>
                    <thead>
                        <tr>
                            <td>
                                {{message.contentMessageForum|raw}}
                            </td>
                        </tr>
                    </thead>
               
                    
                </table>
            {% endfor %}
            <table class="z-depth-2">
            <thead>
                        <tr>
                            <th>
                                <span><a
                                        class=" btn-floating modal-trigger blue" href="#modal-forum" data-id=""
                                        data-titre="" data-target="modal-create"><i
                                            class="material-icons">add</i></a>   Répondre  </span>
                            </th>
                        </tr>
                    </thead>
                    </table>
            </div>
{# Modal pour affichage du ckeditor#}

                   <div id="modal-forum"class="formRegister z-depth-5 modal">
                            {{ form_start(form)}}
                            <div style="display:none">{{ form_row(form.SubjectMessageForum) }}</div>
                            {{ form_row(form.ContentMessageForum) }}
                            {{ form_row(form.submit)}}
                            {{ form_end(form) }}
{# liste des catégories et des sujet du forum#}
                </div>
            <div class="col xl3 offset-xl1 l3 offset-l1 m12 s12  z-depth-5">
                <h4 class="center-align">Liste</h4>
                <div class="container ">
           {% for home_section_forum in home_section_forums%}
                {% if home_section_forum.active == 1 %}
                <h5>{{home_section_forum.SectionTitleForum}}</h5>
                {% endif %}
                <ul>
                    {% for category_section_forum in home_section_forum.categoryHomeSectionforum %}
                    {% if category_section_forum.active == 1 %}
                    <a href="{{path('le_forum_category', {'slug': category_section_forum.slug })}}">
                    {{category_section_forum.titlecategory}}</a>
               
                    {% endif %}
                </ul>
                {% endfor %}
                {% endfor %}
              </div> 
        </div>
        </div>
    </div>
</div>
{% endblock %}