{% extends 'default.html.twig' %}

{% block title 'Les AMHE'%}

{% block body %}
{% for amhe in amhes %}
<div class="carousel carousel-slider center">
	<div class="carousel-item  white-text" href="#one!">
		<img src="{{asset('uploads/amhe/'~ amhe.photoOneAMHE )}}" alt="">
	</div>
	<div class="carousel-item  white-text" href="#one!">
		<img src="{{asset('uploads/amhe/'~ amhe.photoTwoAMHE )}}" alt="">
	</div>
	<div class="carousel-item  white-text" href="#one!">
		<img src="{{asset('uploads/amhe/'~ amhe.photoThreeAMHE )}}" alt=""><img src="{{asset('uploads/Parallax3.jpg')}}"
			alt="">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col xl12 l12 m12 s12">
			<h4 class="center-align">{{ amhe.titleAMHE }}</h4>

			<p>{{ amhe.DescriptionAMHE | raw}}</p>
			{% endfor %}
		</div>
	</div>
	<div class="amheVideo">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/sNCVrIap0lQ" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="row">
		{% for medieval_family in medieval_families %}

		<h4 class="center-align"> {{ medieval_family.titleMedievalFamily }}</h4>
		<p>{{ medieval_family.descriptionMedievalFamily | raw}}</p>
		{% endfor %}

	</div>
<div class="row">
        {% for les_lames_du_ponant in les_lames_du_ponants %}
<h4 class="center-align">{{ les_lames_du_ponant.titleLLDP }} </h4>
<img src="{{asset('/uploads/')}} " alt="">
<p>{{ les_lames_du_ponant.desciptionLLDP | raw}}</p>


</div>


</div>


{% endblock %}