{% extends 'base.html.twig' %}

{% block title ' Les AMHE | Les Lames Du Ponant |Escrime médiévale'%}

{% block body %}
{% for amhe in amhes %}
{% if amhe.active == 1 %}
<div class="carousel carousel-slider center amheCarousel">
	<div class="carousel-item  white-text" href="#one!">
		<img src="{{asset('uploads/amhe/') ~ amhe.photoOneAMHE }}"
			alt="escrime médiévale Lames Du Ponant photo une  {{amhe.photoOneAMHE}} amhe Saint-Nazaire Saint Malo de Guersac 44176 44600">
	</div>
	<div class="carousel-item  white-text" href="#one!">
		<img src="{{asset('uploads/amhe/') ~ amhe.photoTwoAMHE }}"
			alt="escrime médiévale Lames Du Ponant photo deux  {{amhe.photoTwoAMHE }}  amhe Saint-Nazaire Saint Malo de Guersac 44176 44600">
	</div>
	<div class="carousel-item  white-text" href="#one!">
		<img src="{{asset('uploads/amhe/') ~ amhe.photoThreeAMHE }}"
			alt="escrime médiévale Lames Du Ponant photo une {{amhe.photoThreeAMHE }}   amhe Saint-Nazaire Saint Malo de Guersac 44176 44600">

	</div>
</div>
{# AMHE
================ #}
<h4 class="center-align amheTitle">{{ amhe.titleAMHE }}</h4>
<div class="container white ">
	<div class="row  z-depth-5 amheFull">
		<div class="col xl12 l12 m12 s12">

			<p>{{amhe.DescriptionAMHE|raw}}</p>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="video-container z-depth-5 ">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/sNCVrIap0lQ" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
{# MEDIEVAL FAMILY
========================= #}
<div class="container white">
	{% for medieval_family in medieval_families %}
	{% if medieval_family.active == 1 %}
	<h4 class="center-align amheTitle"> {{ medieval_family.titleMedievalFamily }}</h4>
	<div class="row z-depth-5 amheFull">
		<p>{{ medieval_family.descriptionMedievalFamily|raw}}</p>

	</div>
	{% endif %}
	{% endfor %}
</div>
{# LES LAMES DU PONANT
======================================= #}
{% for les_lames_du_ponant in les_lames_du_ponants %}
{% if les_lames_du_ponant.active == 1 %}
<h4 class="center-align amheTitle">{{ les_lames_du_ponant.titleLLDP }}</h4>
<div class="container white">
	<div class="row   z-depth-5 amheFull">
		<img class="responsive-img" src="{{asset('/uploads/lldp/') ~ les_lames_du_ponant.pictureLesLamesDuponant  }} "
			alt="Association escrime médiévale saint-Malo de Guersac 44176 44600 Saint-Nazaire Saint-Malo-de-Guersac ">
		<p>{{ les_lames_du_ponant.desciptionLLDP|raw}}</p>
	</div>

</div>
{% endif %}
{% endfor %}


{% endblock %}