{% extends 'default.html.twig' %}

{# LOGO #}
{# ======================= #}

{% block logo %}
<header>
	<div class="container " id="HomeTitle">
		<div class="row">
		<div class="  col m12 s12 l12 xl12">	<a href="{{path('home')}}">
				{{ render(controller(
        'App\\Controller\\HomePicturesController::displayLogo',)) }}
			</a></div>
		</div>
	</div>
</header>
{% endblock %}
{% block navbar %}

{# NABAR
======================== #}
<ul class="side-nav z-depth-4" id="mobile-demo">
	<li>
		<div class="user-view">
			{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.photoAvatarUser  != NULL %}
			<img class="circle" src="{{ asset('uploads/avatar/' ~ app.user.photoAvatarUser )}}">
			{% else %}
			<img class="circle" src="{{asset('uploads/avatar.jpg')}}">
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.pseudoUser != NULL %}
			<span class="name">Bonjour
				{{app.user.pseudoUser}}</span>
			{% elseif is_granted('IS_AUTHENTICATED_FULLY') and app.user.pseudoUser == NULL%}
			<span class=" name">Bonjour "Illustre inconnu n°{{app.user.id}}"
				{% else %}
				<span class=" name">Bonjour "Illustre inconnu "
				</span>
				{% endif %}
		</div>
	</li>
	</li>
	<li>
		<h5 class="black-text center-align">Les Lames du Ponant</h5>
	</li>
	<div class="divider"></div>
	{% if is_granted('IS_AUTHENTICATED_FULLY')%}

	{% if is_granted('ROLE_ADMIN') or is_granted('Role_Super_Administrateur') %}
	<li>
		<a href="{{path('message_forum_index')}}">
			<span>Messagerie</span>
		</a>
	</li> 
	<li>
		<a class=" waves-light waves-effect  "href="{{path('admin')}}">Administration</a>
	</li>
	{% endif %}
	<li>
		<a class="waves-light waves-effect  "href="{{path('user_edit',{'id': app.user.id })}}">

			<span>Mon Profil</span>
		</a>
	</li>
	<li>
		<a class="waves-light waves-effect  "href="{{path('les_infos')}}">Infos</a>
	</li>
	<li>
		<a class="waves-light waves-effect "href="{{path('contact_message_new')}}">Contact</a>
	</li>
	<li>
		<a class="waves-light waves-effect "href="{{path('app_logout')}}">Déconnexion</a>
	</li>
	{% else %}
	<li>
		<a class="waves-light waves-effect " href="{{path('les_infos')}}">Infos</a>
	</li>
	<li>
		<a class="waves-light waves-effect "href="{{path('app_login')}}">Contact</a>
	</li>
	<li>
		<a class="waves-light waves-effect " href="{{path('app_login')}}">Connexion</a>
	</li>
	<li>
		<a class="waves-light waves-effect " href="{{path('app_register')}}">S'enregistrer</a>
	</li>
	{% endif %}
	<div class="divider"></div>
	<li>
		<a class="waves-light waves-effect "href="{{path('les_disciplines')}}">
			Disciplines</a>
	</li>
	<li>
		<a class="waves-light waves-effect " href="{{path('les_amhe')}}">
			AMHE</a>
	</li>
	<li>
		<a class="waves-light waves-effect "href="{{path('home')}}">
			Boutique</a>
	</li>
	<li>
		<a class="waves-effect waves-light  "href="{{path('le_forum')}}">Forum</a>
	</li>
</ul>
<div class="menu">
	<nav id="navbarHome">
		<div class="nav-wrapper">
			<a href="{{path('home')}} " class="brand-logo center">Accueil</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
			<ul class="left hide-on-med-and-down">
				<li>
					<a href="{{path('les_amhe')}}">AMHE</a>
				</li>
				<li>
					<a href="{{path('les_disciplines')}}">Disciplines</a>
				</li>

				<li>
					<a href="{{path('home')}}">
						Boutique</a>
				</li>
				<li>
					<a href="{{path('le_forum')}}">Forum</a>
				</li>
				{% if is_granted('ROLE_ADMIN') or is_granted('Role_Super_Administrateur') %}
				<li>
					<a href="{{path('admin')}}">Administration</a>
				</li>
				{% endif %}
			</ul>
			<ul class="right hide-on-med-and-down">

				{% if is_granted('IS_AUTHENTICATED_FULLY')%}
				<li>
					<a href="{{ path('user_edit',{'id' : app.user.id}) }}" >
						Profil</a>
				</li>
				<li>
					<a href="{{path('les_infos')}}">Infos</a>
				</li>
				<li>
					<a href="{{path('contact_message_new')}}">Contact</a>
				</li>
				<li>
					<a href="{{path('app_logout')}}">Déconnexion</a>
				</li>
				{% else %}
				<li>
					<a href="{{path('les_infos')}}">Infos</a>
				</li>
				<li>
					<a href="{{path('contact_message_new')}}">Contact</a>
				</li>
				<li>
					<a href="{{path('app_login')}}">Connexion</a>
				</li>
				<li>
					<a href="{{path('app_register')}}">S'enregistrer</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>

{# IMAGE HomeTitle
	=============== #}
{% if app.request.get('_route') == 'home' %}
<div id="HomeImg">
	{% for home_picture in home_pictures %}
	<img src="{{ asset('uploads/parallax/'~ home_picture.homeTitlePicture)}}">
	{% endfor %}
</div>
{% endif %}

	{% endblock %}
	{# PRESENTATION leslamesduponant
============================= #}

	{% block body %}{% endblock %}
	{% block footer%}
	{% if app.request.get('_route') == 'home' %}
	<div class="section white homeSectionPresentation">
		<div class="row container">
			{% for how_we_are in how_we_ares %}
				<h2 class="header center-align">{{ how_we_are.titleHowWeAre}}</h2>
				<div class="homsectionPresentationText">
					<p class="grey-text text-darken-3 lighten-3">
						{{ how_we_are.descriptionHowWeAre|raw}}
					</p>
					{% endfor %}
				<div class="btnHome" align="center"><a class="hrefHome" href="{{path('les_amhe')}}#les-lames-du-ponant"target="_blank" rel="nofollow"><span>En savoir plus</span></a></div>
				
				</div>
		</div>
	</div>

	{# PARALLAX1	
=================== #}


	<div class="parallax-container">
		{% for home_picture in home_pictures %}
		<div class="parallax"><img src="{{ asset('uploads/parallax/'~ home_picture.homeParallax1)}}"></div>
		{% endfor %}
	</div>
	{# 

	{# DISCIPLINE Carousel
================ #}

	<div class="section white homeSectionActivity">
		<h2 class="header center-align">Les disciplines</h2>
		<div class="col s12 carousel center carouselHome " style="height: 600px;">
			{% for home_discipline in home_disciplines %}
			<div class="carousel-item">
				<h5 class="center-align disciplineHomeTitle">{{ home_discipline.nameDiscipline }}</h5>
				{% if home_discipline.imageHomeDiscipline != NULL %}
				<a  id="buton"href="{{ path('les_disciplines')}}#{{home_discipline.id}}"><img
						class="card-rounded "
						src="{{ asset('uploads/discipline/') ~ home_discipline.imageHomeDiscipline }}"></a>
				{% else %}
				<a href="/"><img class="card-rounded" src="{{asset('uploads/avatar.jpg')}}"></a>
				{% endif %}
				<p class="disciplineHomeDescription ">
					{{home_discipline.descriptionDiscipline}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
	{# Parralax2	
================== #}
	<div class="parallax-container">
		{% for home_picture in home_pictures %}
		<div class="parallax"><img src="{{ asset('uploads/parallax/'~ home_picture.homeParallax2)}}"></div>
		{% endfor %}
	</div>

	<div class="section white homeSectionCalendar">
		<div class="container">
			<div class="row ">
				<div class="col xl4 l5 s12 ">
					<h4 class="HomeInfoTitle center-align">
						Actualités</h4>
					<div class="history-tl-container">
						<ul class="tl">
							{% for time_stamp in time_stamp %}
							<li class="tl-item" ng-repeat="item in retailer_history">
								<div class="timestamp">
									{{ time_stamp.dateTimeStamp ? time_stamp.dateTimeStamp|date('d-m-Y') : '' }}<br>
									{{ time_stamp.hourTimeStamp ? time_stamp.hourTimeStamp|date('H:i:s') : '' }}
								</div>
								<div class="item-title">{{ time_stamp.titleTimeStamp }}
								</div>
								<div class="item-detail">{{ time_stamp.descriptionTimeStamp }}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col xl8 l7 s12">
					<h4 class="HomeInfoTitle center-align">
						Informations pratiques</h4>
					<div class="row">
						<div class="col xl6 l7 m7 s12 informationFooterLeft">
							<h6>Horaires:</h6>
							<p>lundi: 20h30-22h30</p>
							<p>jeudi: 20h30-22h30</p>
							<div class="row">
								<div class="divider"></div>
								<div class="col xl12 l12 m12 s12">

									<h6>Adresse:</h6>
									<p>Rue des Droits de l'Homme</p>
									<p>44550 Saint-Malo-de-Guersac</p>
									<div class="divider"></div>
									<h6>GPS :</h6>
									<p>
										47.354104, -2.179935</p>
								</div>
							</div>
						</div>
						<div class="col xl6 l5 m5 s12 informationFooterRight ">
							<img src="{{ asset('uploads/complexeSaintMaloGuerssac.jpg')}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</main>

<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col  xl4 l4  s12  footerLameDuPonantLeft">
				<h5>A propos des Lames Du Ponant</h5>
				<div class="row">
					<div class="col xl6 l6 m6 s6">
						<p>nous suivre</p>
						<p>Nous contacter</p>
						<p>info</p>
					</div>
					<div class="col xl6 l6 m6 s6">
						<a href="https://www.facebook.com/leslamesduponant/">
							<i class="small material-icons">facebook</i>
						</a>
						<a href="{{path('contact_message_new')}}">
							<i class="small material-icons">email</i>
						</a>
						<a href="">
							<i class="small material-icons">info</i>
						</a>
					</div>
				</div>
			</div>
			<div class="col  xl4 l4  s12  footerLameDuPonantCenter">
				<h5>La Féderation Française des AMHE</h5>
				<a href="https://www.ffamhe.fr"><img class="rounded" src="{{ asset('uploads/logo_FFAMHE.png')}}"
						alt=""></a>

			</div>
			<div class="col  xl4 l4  s12  footerLameDuPonantRight">
				<h5>Règles</h5>
				<a href="">
					<span>Condition Génerale d'utilisation</span>
				</a>
				<a href="">
					<span>Cookies</span>
				</a>
				<a href="">
					<span>F.A.Q</span>
				</a>
			</div>
		</div>
	</div>
	<div class="footer-copyright footerCopyright">
		<div class="container"><div class="row">
		<div class="col xl8 l8 m12 s12"><span >2020 Les Lames Du Ponant. Tous droits réservés.</span></div>
		<div class="col xl4 l4 m12 s12"><span ><a class="grey-text text-lighten-4 right" href="">Crée
				par un p'tit Breton</a></span></div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}