{% extends 'default.html.twig' %}

{% block title %}ContactMessage index{% endblock %}

{% block body %}
<H4 class="center-align"> Index des messages</H4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du contact</th>
                <th>Prénom du contact</th>
                <th>contenu du message</th>
                <th>e-mail</th>
                <th>DateContactMessage</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_message in contact_messages %}
            <tr>
                <td>{{ contact_message.id }}</td>
                <td>{{ contact_message.authorNameContactMessage }}</td>
                <td>{{ contact_message.authorLastNamecContactMessage }}</td>
                <td>{{ contact_message.contentContactMessage }}</td>
                <td>{{ contact_message.emailContactMessage }}</td>
                <td>{{ contact_message.dateContactMessage ? contact_message.dateContactMessage|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contact_message_show', {'id': contact_message.id}) }}">voir</a>
                    <a href="{{ path('contact_message_edit', {'id': contact_message.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de contenu trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_message_new') }}">Envoyez voter message</a>
{% endblock %}
