{% extends 'admin.html.twig' %}

{% block title %}Image page d'accueil index {% endblock %}

{% block body %}
{% for message in app.flashes('how we are') %} <div class="flash-notice">
	{{ message }}
	</div>
	{% endfor %}
	<h4 class="center-align">Images page d'accueil</h4>
	<div class="container">
		<a href="{{ path('home_pictures_new') }}" class="btn-floating btn-large waves-effect waves-light blue"><i
				class="material-icons">add</i></a>
		<table class="striped centered responsive-table">
			<thead>
				<tr>
					<th>Id</th>
					<th>logo</th>
					<th>home</th>
					<th>parallax1</th>
					<th>parallax2</th>
					<th>activation</th>
					<th>modifier</th>
				</tr>
			</thead>
			<tbody>
				{% for home_picture in home_pictures %}
				<tr>
					<td>{{ home_picture.id }}</td>
					<td><img src="{{asset('/uploads/parallax/') ~  home_picture.homeLogoPicture}}" alt=""
							class="responsive-image imgTableAdmin"></td>
					<td><img src="{{asset('/uploads/parallax/') ~ home_picture.homeTitlePicture }}" alt=""
							class="responsive-image imgTableAdmin"></td>
					<td><img src="{{asset('/uploads/parallax/') ~  home_picture.homeParallax1 }}" alt=""
							class="responsive-image imgTableAdmin"></td>
					<td><img src="{{asset('/uploads/parallax/') ~ home_picture.homeParallax2  }}" alt=""
							class="responsive-image imgTableAdmin"></td>
					<td>
						<div class="switch">
							<label>
								desactiver
								<input type="checkbox" {{(home_picture.active) ? 'checked' : ''}}
									data-id="{{home_picture.id}}">
								<span class="lever"></span>
								activer
							</label>
						</div>
					</td>
					<td>
						<div>
							<a href="{{ path('home_pictures_edit', {'id': home_picture.id}) }}"
								class="btn-floating green"><i class="material-icons">create</i></a>
							<a class=" btn-floating modal-trigger red" href="#modal-delete"
								data-id="{{home_picture.id}}" data-titre="{{home_picture.homeTitlePicture }}"
								data-target="modal-delete"><i class="material-icons">delete</i></a>
						</div>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="5">pas d'entrée trouvée</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- Modal Structure -->
	<div id="modal-delete" class="modal">
		<div>
			<h4 class="center-align">Suppression </h4>
			<p class="modal-content center-align">êtes vous sûre de vouloir supprimer</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn green">valider</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn red">anuler</a>
		</div>
	</div>
	<script>
		window.onload = () => {
			let activer_ho_we_are = document.querySelectorAll("[type=checkbox]")
			for (let bouton of activer_ho_we_are) {
				bouton.addEventListener("click", function () {
					let xmlhttp = new XMLHttpRequest;
					xmlhttp.open("get", `/home/pictures/activer/${this.dataset.id}`)
					xmlhttp.send()

				})
			}
			let supprimer = document.querySelectorAll(".modal-trigger")
			for (let bouton of supprimer) {
				bouton.addEventListener("click", function () {
					document.querySelector(".modal-footer a").href = `/home/pictures/supprimer/${this.dataset.id}`
					document.querySelector(".modal-content").innerText =
						`Êtes-vous sûr(e) de vouloir supprimer  "${this.dataset.titre}"`

				})
			}
		}
	</script>
	{% endblock %}