{% extends 'default.html.twig' %}

{% block title %}HomePictures index{% endblock %}

{% block body %}
<div id="User">
				<h4 class="center-align">table des utilisateurs</h4>
				<table class="table tableAdmin  display datatable"
 data-page-length='10' id="myTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Email</th>
							<th>Pseudo utilisateur</th>
							<th>Code postal</th>
							<th>voir</th>
							<th>éditer</th>
							<th>supprimer</th>
						</tr>
					</thead>
					<tbody>
						{% for user in user %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.pseudoUser }}</td>
							<td>{{ user.postalCodeUser }}</td>
							<td>
								<a href="{{ path('user_show', {'id': user.id}) }}">
									<button class="btn blue">
										<i class=" tiny material-icons ">visibility</i>
									</button>
								</a>
							</td>
							<td>
								<a href="{{ path('user_edit', {'id': user.id}) }}">
									<button class="btn orange">
										<i class=" tiny material-icons ">create</i>
									</button>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
									onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur?');">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
									<button class="btn red">
										<i class=" tiny material-icons ">delete</i>
									</button>
								</form>

							</td>
						</tr>
						{% else %}
						<tr>
							<td colspan="14">Aucun enregistrement trouvé.</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

    <a href="{{ path('home_pictures_new') }}">Create new</a>
{% endblock %}
