{% extends 'default.html.twig' %}

{% block title %}HomePictures index{% endblock %}

{% block body %}
    <h1>HomePictures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HomeLogoPicture</th>
                <th>HomeTitlePicture</th>
                <th>HomeParallax1</th>
                <th>HomeParallax2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home_picture in home_pictures %}
            <tr>
                <td>{{ home_picture.id }}</td>
                <td>{{ home_picture.homeLogoPicture }}</td>
                <td>{{ home_picture.homeTitlePicture }}</td>
                <td>{{ home_picture.homeParallax1 }}</td>
                <td>{{ home_picture.homeParallax2 }}</td>
                <td>
                    <a href="{{ path('home_pictures_show', {'id': home_picture.id}) }}">show</a>
                    <a href="{{ path('home_pictures_edit', {'id': home_picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home_pictures_new') }}">Create new</a>
{% endblock %}
