{% extends 'base.html.twig' %}

{% block title %}HomePictures{% endblock %}

{% block body %}
    <h1>HomePictures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_picture.id }}</td>
            </tr>
            <tr>
                <th>HomeLogoPicture</th>
                <td>{{ home_picture.homeLogoPicture }}</td>
            </tr>
            <tr>
                <th>HomeTitlePicture</th>
                <td>{{ home_picture.homeTitlePicture }}</td>
            </tr>
            <tr>
                <th>HomeParallax1</th>
                <td>{{ home_picture.homeParallax1 }}</td>
            </tr>
            <tr>
                <th>HomeParallax2</th>
                <td>{{ home_picture.homeParallax2 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home_pictures_index') }}">back to list</a>

    <a href="{{ path('home_pictures_edit', {'id': home_picture.id}) }}">edit</a>

    {{ include('home_pictures/_delete_form.html.twig') }}
{% endblock %}
