{% extends 'base.html.twig' %}

{% block title %}AMHE index{% endblock %}

{% block body %}
    <h1>AMHE index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleAMHE</th>
                <th>DescriptionAMHE</th>
                <th>PhotoOneAMHE</th>
                <th>PhotoTwoAMHE</th>
                <th>PhotoThreeAMHE</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amhe in amhes %}
            <tr>
                <td>{{ amhe.id }}</td>
                <td>{{ amhe.titleAMHE }}</td>
                <td>{{ amhe.DescriptionAMHE }}</td>
                <td>{{ amhe.photoOneAMHE }}</td>
                <td>{{ amhe.photoTwoAMHE }}</td>
                <td>{{ amhe.photoThreeAMHE }}</td>
                <td>
                    <a href="{{ path('amhe_show', {'id': amhe.id}) }}">show</a>
                    <a href="{{ path('amhe_edit', {'id': amhe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('amhe_new') }}">Create new</a>
{% endblock %}
