{% extends 'base.html.twig' %}

{% block title 'AMHE index'%}

{% block body %}
    <h4 class="center-align">AMHE index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Photo carousel 1</th>
                <th>Photo carousel 2</th>
                <th>Photo carousel 3</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for amhe in amhes %}
            <tr>
                <td>{{ amhe.id }}</td>
                <td>{{ amhe.titleAMHE }}</td>
                <td>{{ amhe.DescriptionAMHE }}</td>
                <td>{{ amhe.photoOneAMHE }}</td>
                <td>{{ amhe.photoTwoAMHE }}</td>
                <td>{{ amhe.photoThreeAMHE }}</td>
                <td>
                    <a href="{{ path('amhe_show', {'id': amhe.id}) }}">voir</a>
                    <a href="{{ path('amhe_edit', {'id': amhe.id}) }}">éditerer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">pas de donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('amhe_new') }}">créer une nouvelle</a>
{% endblock %}
