{% extends 'default.html.twig' %}

{% block title 'crea AMHE'%}

{% block body %}
<h4 class="center-align">Création de la page AMHE</h4>

{{ form_start(form) }}
    {{ form_widget(form) }}

<button class="btn btnForm">{{ button_label|default('sauvegarder') }}</button>
    <a href="{{ path('admin') }}#amhe">retour à la liste</a>
{{ form_end(form) }}


{% endblock %}
