{% extends 'default.html.twig' %}

{% block title %}AMHE{% endblock %}

{% block body %}
    <h4 class="center-align">AMHE</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ amhe.id }}</td>
            </tr>
            <tr>
                <th>TitleAMHE</th>
                <td>{{ amhe.titleAMHE }}</td>
            </tr>
            <tr>
                <th>DescriptionAMHE</th>
                <td>{{ amhe.DescriptionAMHE }}</td>
            </tr>
            <tr>
                <th>PhotoOneAMHE</th>
                <td>{{ amhe.photoOneAMHE }}</td>
            </tr>
            <tr>
                <th>PhotoTwoAMHE</th>
                <td>{{ amhe.photoTwoAMHE }}</td>
            </tr>
            <tr>
                <th>PhotoThreeAMHE</th>
                <td>{{ amhe.photoThreeAMHE }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('amhe_index') }}">retours à la liste</a>

    <a href="{{ path('amhe_edit', {'id': amhe.id}) }}">éditer</a>

    {{ include('amhe/_delete_form.html.twig') }}
{% endblock %}
