{% extends 'base.html.twig' %}

{% block title %}LesLamesDuPonant index{% endblock %}

{% block body %}
    <h4 class="center-align">LesLamesDuPonant index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Desciption</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for les_lames_du_ponant in les_lames_du_ponants %}
            <tr>
                <td>{{ les_lames_du_ponant.id }}</td>
                <td>{{ les_lames_du_ponant.titleLLDP }}</td>
                <td>{{ les_lames_du_ponant.desciptionLLDP }}</td>
                <td>
                    <a href="{{ path('les_lames_du_ponant_show', {'id': les_lames_du_ponant.id}) }}">voir</a>
                    <a href="{{ path('les_lames_du_ponant_edit', {'id': les_lames_du_ponant.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('les_lames_du_ponant_new') }}">Créer un nouveau</a>
{% endblock %}
