{% extends 'base.html.twig' %}

{% block title %}LesLamesDuPonant{% endblock %}

{% block body %}
    <h4 class="center-align">LesLamesDuPonant</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ les_lames_du_ponant.id }}</td>
            </tr>
            <tr>
                <th>TitleLLDP</th>
                <td>{{ les_lames_du_ponant.titleLLDP }}</td>
            </tr>
            <tr>
                <th>DesciptionLLDP</th>
                <td>{{ les_lames_du_ponant.desciptionLLDP }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('les_lames_du_ponant_index') }}">retours à la liste</a>

    <a href="{{ path('les_lames_du_ponant_edit', {'id': les_lames_du_ponant.id}) }}">éditer</a>

    {{ include('les_lames_du_ponant/_delete_form.html.twig') }}
{% endblock %}
