{% extends 'default.html.twig' %}

{% block title %}HomeSectionForum index{% endblock %}

{% block body %}
    <h4 class="center-align">HomeSectionForum index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SectionTitleForum</th>
                <th>SectionDateForum</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for home_section_forum in home_section_forums %}
            <tr>
                <td>{{ home_section_forum.id }}</td>
                <td>{{ home_section_forum.sectionTitleForum }}</td>
                <td>{{ home_section_forum.sectionDateForum ? home_section_forum.sectionDateForum|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('home_section_forum_show', {'id': home_section_forum.id}) }}">voir</a>
                    <a href="{{ path('home_section_forum_edit', {'id': home_section_forum.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home_section_forum_new') }}">Créer un nouveau</a>
{% endblock %}
