{% extends 'base.html.twig' %}

{% block title %}HomeDiscipline index{% endblock %}

{% block body %}
    <h1>HomeDiscipline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la discipline</th>
                <th>image</th>
                <th>description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home_discipline in home_disciplines %}
            <tr>
                <td>{{ home_discipline.id }}</td>
                <td>{{ home_discipline.nameDiscipline }}</td>
                <td>{{ home_discipline.imageHomeDiscipline }}</td>
                <td>{{ home_discipline.descriptionDiscipline }}</td>
                <td>
                    <a href="{{ path('home_discipline_show', {'id': home_discipline.id}) }}">show</a>
                    <a href="{{ path('home_discipline_edit', {'id': home_discipline.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home_discipline_new') }}">Create new</a>
{% endblock %}
