{% extends 'base.html.twig' %}

{% block title %}HomeDiscipline{% endblock %}

{% block body %}
    <h4 class="center-align">HomeDiscipline</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_discipline.id }}</td>
            </tr>
            <tr>
                <th>NameDiscipline</th>
                <td>{{ home_discipline.nameDiscipline }}</td>
            </tr>
            <tr>
                <th>ImageHomeDiscipline</th>
                <td><img src="{{asset('uploads/discipline' ~ home_discipline.imageHomeDiscipline )}} " alt=""></td>
            </tr>
            <tr>
                <th>DescriptionDiscipline</th>
                <td>{{ home_discipline.descriptionDiscipline | raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home_discipline_index') }}">retours à la liste</a>

    <a href="{{ path('home_discipline_edit', {'id': home_discipline.id}) }}">éditer</a>

    {{ include('home_discipline/_delete_form.html.twig') }}
{% endblock %}
