{% extends 'base.html.twig' %}

{% block title 'Les disciplines' %}

{% block body %}
<h1 class="center-align disciplineTitle">Les disciplines des Lames Du Ponant</h1>
    {% for discipline in disciplines %}
    {% if discipline.active == 1  and   discipline.orderDiscipline is divisible by(2)  %}
    {# Carousel discipline#}
    <div class="container">
        <div class="z-depth-5 disciplinecarousel">
            <div class="carousel carousel-slider center DisciplineCarouselFull " data-indicators="true">
                <div class="carousel-fixed-item center middle-indicator">
                    <div class="left">
                        <a href="Previo" class="movePrevCarousel middle-indicator-text waves-light content-indicator"><i
                                class="material-icons left  middle-indicator-text">chevron_left</i></a>
                    </div>
                    <div class="right">
                        <a href="Siguiente"
                            class=" moveNextCarousel middle-indicator-text waves-light content-indicator"><i
                                class="material-icons right middle-indicator-text">chevron_right</i></a>
                    </div>
                </div>
                <div class="carousel-item white-text" >
                    <img src="{{asset('/uploads/discipline/') ~ discipline.imageOneDiscipline }}"
                        alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} " class=" ">

                </div>
                <div class="carousel-item white-text" >
                    <img src="{{asset('/uploads/discipline/') ~ discipline.imageTwoDiscipline }}"
                        alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} " class=" ">
                </div>
                <div class="carousel-item  white-text" >
                    <img src="{{asset('/uploads/discipline/') ~  discipline.imageThreeDiscipline }}"
                        alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} " class=" ">
                </div>
            </div>
        </div>
        {# Titre discipline#}
        <h1 id="{{discipline.relationHomeDiscipline.id}}" class="center-align disciplineTitle">
            {{ discipline.disciplinetitle}}</h1>
        <div class="row z-depth-5 disciplineFull disciplineRow ">
            {# description discipline#}
            <div class="col xl8 l8 m12 s12  disciplineDescription">
                <p> {{ discipline.disciplineDescription|raw}}</p>
            </div>
            {# Instructeur discipline#}
            <div class="col xl4 l4 m12 s12 disciplineInstructor ">
                <h5 class="center-align">Votre instructeur:</h5>
                <img class="responsive-img z-depth-5 img-discipline"
                    src="{{asset('/uploads/discipline/') ~ discipline.photoInstructor }}"
                    alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} Instructeur amhe Saiont-Nazaire Saint Malo de Guersac 44176 44600">
                <h5 class="center-align">{{ discipline.nameInstructor}}</h5>
            </div>
        </div>

    </div>
   {% elseif discipline.active == 1 %}
    {# Carousel 2  discipline#}
    <div class="container">
        <div class="z-depth-5 disciplinecarousel">
            <div class="carousel carousel-slider center DisciplineCarouselFull " data-indicators="true">
                <div class="carousel-fixed-item center middle-indicator">
                    <div class="left">
                        <a href="Previo" class="movePrevCarousel middle-indicator-text waves-light content-indicator"><i
                                class="material-icons left  middle-indicator-text">chevron_left</i></a>
                    </div>
                    <div class="right">
                        <a href="Siguiente"
                            class=" moveNextCarousel middle-indicator-text waves-light content-indicator"><i
                                class="material-icons right middle-indicator-text">chevron_right</i></a>
                    </div>
                </div>
                <div class="carousel-item white-text" >
                    <img src="{{asset('/uploads/discipline/') ~ discipline.imageOneDiscipline }}"
                        alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} " class=" ">

                </div>
                <div class="carousel-item white-text" >
                    <img src="{{asset('/uploads/discipline/') ~ discipline.imageTwoDiscipline }}"
                        alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} " class=" ">
                </div>
                <div class="carousel-item  white-text" >
                    <img src="{{asset('/uploads/discipline/') ~  discipline.imageThreeDiscipline }}"
                        alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} " class=" ">
                </div>
            </div>
        </div>
        {# Titre discipline#}
        <h1 id="{{discipline.relationHomeDiscipline.id}}" class="center-align disciplineFull">
            {{ discipline.disciplinetitle}}</h1>
        <div class="row z-depth-5 disciplineFull disciplineRow">
            {# Instructeur discipline#}
            <div class="col xl4 l4 m12 s12 disciplineInstructor ">
                <h5 class="center-align">Votre instructeur:</h5>
                <img class="responsive-img z-depth-5 img-discipline"
                    src="{{asset('/uploads/discipline/') ~ discipline.photoInstructor }}"
                    alt="Discipline Lames Du Ponant {{ discipline.disciplinetitle}} Instructeur amhe Saiont-Nazaire Saint Malo de Guersac 44176 44600">
                <h5 class="center-align">{{ discipline.nameInstructor}}</h5>
            </div>
            {# description discipline#}
            <div class="col xl8 l8 m12 s12  disciplineDescription">
                <p>{{ discipline.disciplineDescription|raw}}</p>
            </div>
        </div>
    </div>
    {% else %}

    Il n'y a rien <à afficher comme disciplines
    {% endif %}
    {% endfor %}
    {% endblock %}