{% extends 'admin.html.twig' %}

{% block title %}HomeSectionForum index{% endblock %}

{% block body %}
{% for message in app.flashes('how we are') %}
<div class="flash-notice">
    {{ message }}
</div>
{% endfor %}
<h1 class="center-align">Section Forum index</h1>
<div class="container">
    <a href="{{ path('home_section_forum_new') }}" class="btn-floating btn-large waves-effect waves-light blue"><i
            class="material-icons">add</i></a>
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>titre</th>
                <th>Date</th>
                <th>Activation</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for home_section_forum in home_section_forums %}
            <tr>
                <td>{{ home_section_forum.id }}</td>
                <td>{{ home_section_forum.sectionTitleForum }}</td>
                <td>{{ home_section_forum.sectionDateForum ? home_section_forum.sectionDateForum|date('Y-m-d H:i:s') : '' }}
                </td>
                <td>
                    <div class="switch">
                        <label>
                            desactiver
                            <input type="checkbox" {{(home_section_forum.active) ? 'checked' : ''}} data-id="{{home_section_forum.id}}">
                            <span class="lever"></span>
                            activer
                        </label>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="{{ path('home_section_forum_edit', {'id': home_section_forum.id}) }}" class="btn-floating green"><i
                                class="material-icons">create</i></a>
                        <a class=" btn-floating modal-trigger red" href="#modal-delete" data-id="{{home_section_forum.id}}"
                            data-titre ="{{home_section_forum.sectionTitleForum  }}" data-target="modal-delete"><i
                                class="material-icons">delete</i></a>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">pas d'entrée trouvée</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal Structure -->
<div id="modal-delete" class="modal">
    <div>
        <h4 class="center-align">Suppression </h4>
        <p class="modal-content center-align">êtes vous sûre de vouloir supprimer</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn green">valider</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">anuler</a>
    </div>
</div>
<script>
    window.onload = () => {
        let activer_home_section_forum = document.querySelectorAll("[type=checkbox]")
        for (let bouton of activer_home_section_forum) {
            bouton.addEventListener("click", function () {
                let xmlhttp = new XMLHttpRequest;
                xmlhttp.open("get", `/admin/home/section/forum/activer/${this.dataset.id}`)
                xmlhttp.send()
            })
        }
        let supprimer = document.querySelectorAll(".modal-trigger")
			for(let bouton of supprimer){
				bouton.addEventListener("click", function () {
					document.querySelector(".modal-footer a").href = `/admin/home/section/forum/supprimer/${this.dataset.id}`
					document.querySelector(".modal-content").innerText = `Êtes-vous sûr(e) de vouloir supprimer  "${this.dataset.titre}"`

            })
        }
    }
</script>
    {% endblock %}